$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    h1 {
        color: #009FDA;
    }
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 960px) {
    .container {
        max-width: 958px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.footer p {
    text-align: center;
    i {
        margin-left: 2.5em;
    }
}

/* ============= 12307 ================ */
// tickets
#tickets-search .field {
    width: 15%;
    input[type='text']{
        width: 60%;
        padding: .6em 1.2em;
    }
}

#confirmation {height: 40%;}

// booking, payment
form#book, #confirmation, #payment {
    .red {color: red;}

    .header span {
        color: rgb(240, 240, 255);
        font-size: 0.8em;
        padding-left: 1em;
    }
    .submit.button {
        text-align: center;
        margin-top: 0.4em;

        .button {
            margin-right: 1em;
            font-size: 0.9em;
        }
    }

    i:hover {
        color: #009FDA;
        -webkit-transform: scale(1.2);
    }

    i.add {
        margin-top: .5em;
    }

    .notice {
        background-color: #FFFBE5;
        border-color: #FBD800;
        .blue {
            color: blue;
        }
    }
}

// payment
#payment {
    border-color: blue;
    span.orange {
        margin: 0 .5em;
        color: orange;
    }
    .right {
        text-align: right;
    }
}


