div(ng-include='\'partials/navbar.html\'')

div.container
  h1 现在注册
  .ui.form.segment
    .two.fields
      .field
        label(for='name') 姓名
        input#name(placehoder='姓名' type='text')
      .field
        label(for='gender') 性别
        #gender.ui.dropdown
          //- .text 选择
          i.dropdown.icon
          .menu
            .item 男
            .item 女
    .field
      label(for='email')  电子邮件
      input#email(placehoder='电子邮件' type='text')

    button.ui.blue.button 提交
