include jade-mixins/train-ticket-info

div(ng-include='\'partials/navbar.html\'')
form#order
  h3.ui.top.attached.header.blue.inverted 列车信息
    span 以下余票信息变化迅速，仅供参考
  .ui.segment.attached
    +order-train-info('train')
    .ui.horizontal.fitted.divider 
    +order-train-remain-ticket-info('train', 'form')

  h3.ui.top.attached.header.blue.inverted 乘客信息
    span 填写说明
  
  table.ui.table.small.segment.attached
    thead
      tr
        th(ng-repeat="name in ['序号', '座席类别', '票种', '姓名', '证件类型', '证件号码', '手机号码', '删除']") {{name}}
    tbody
      tr(ng-repeat="traveler in travelers")
        td {{ $index + 1 }}
        td
          .field
            select(ng-model="traveler.seatType", ng-options="type for type in getSeatType()")
        td
          .field
            select(ng-model="traveler.ticketType", ng-options="type for type in ['成人', '儿童']")
        td
          .field
            input(type='text', ng-model="traveler.name")
        td
          .field
            select(ng-model="traveler.idType", ng-options="type for type in ['二代身份证', '一代身份证', '港澳通行证', '台湾通行证', '护照']")
        td
          .field
            input(type='text', ng-model="traveler.id")
        td
          .field
            input(type='text', ng-model="traveler.mobileNumber")
        td
          i.remove.icon(ng-click='removeRow($index)')
  i.add.circular.inverted.blue.small.icon(ng-click='addRow()') 
  span.small 新增乘客 

  .submit.button
    a.ui.grey.submit.large.button(href='/trains') 返回上一步
    a.ui.blue.submit.large.button(ng-click="showConfirmationDialog()", title="提交前请检查") 提交订单

  .ui.segment.small.notice
    h5 温馨提示:
    ol
      li 一张有效身份证件同一乘车日期同一车次只能购买一张车票。
      li 购票时可使用的有效身份证件包括：中华人民共和国居民身份证、港澳居民来往内地通行证、台湾居民来往大陆通行证和按规定可使用的有效护照。
      li 购买儿童票时，乘车儿童有有效身份证件的，请填写本人有效身份证件信息。乘车儿童没有有效身份证件的，应使用同行成年人的有效身份证件信息；购票时不受第一条限制，但购票后、开车前须办理换票手续方可进站乘车。
      li 
        span 购买学生票时，须在
        span.blue 我的常用联系人 
        span 中登记乘车人的学生详细信息。学生票乘车时间限为每年的暑假6月1日至9月30日、寒假12月1日至3月31日。购票后、开车前，须办理换票手续方可进站乘车。换票时，新生凭录取通知书，毕业生凭学校书面证明，其他凭学生优惠卡。
      li 购买残疾军人（伤残警察）优待票的，须在购票后、开车前办理换票手续方可进站乘车。换票时，不符合规定的减价优待条件，没有有效"中华人民共和国残疾军人证"或"中华人民共和国伤残人民警察证"的，不予换票，所购车票按规定办理退票手续。

#confirmation.ui.large.modal
  h3.ui.top.attached.header.blue.inverted 请核对以下信息
  .ui.segment.attached
    h4 车次信息
    +order-train-info('train')
    .ui.horizontal.fitted.divider 
    h4 乘客信息
    table.ui.table.small.segment.attached
      thead
        tr
          th(ng-repeat="name in ['序号', '座席类别', '票种', '姓名', '证件类型', '证件号码', '手机号码']") {{name}}
      tbody
        tr(ng-repeat="traveler in travelers")
          td {{ $index + 1 }}
          td {{ traveler.seatType }}
          td {{ traveler.ticketType }}
          td {{ traveler.name }}
          td {{ traveler.idType }}
          td {{ traveler.id }}
          td {{ traveler.mobileNumber }}
    p.ui.blue 系统将随机为您申请座位，暂不支持自选席位。
    p 本次列车剩余 
      +order-train-remain-ticket-info('train', 'confirmation')

  .submit.button
    a.ui.grey.submit.large.button(ng-click="hideConfirmationDialog()") 修改订单
    a.ui.orange.submit.large.button(ng-click="submit($event)") 支付




